<div class="d-flex flex-column p-3 justify-content-center align-items-center">
  <h1 >
    <%= longest_string(@algo.name) %>
  </h1>
    <%= link_to 'Back to Search', new_algo_path ,class: '' %>
</div>